development: &default
  adapter: postgresql
  username: myusername
  database: notifications
  port: 5432
  host: localhost
test:
  adapter: postgresql
  database: notifications_test
  min_messages: WARNING
  username: 'myusername'
  password: ''
  host: localhost
production:
  <<: *default

